<div class="titleB"><%= I18n.t("tog_conclave.admin.update_event") %></div>
<br />

<%= error_messages_for :event %>
<% form_for :event, :url => admin_conclave_event_path(@event), :html => {:id => "settings", :method => :put} do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <br />

  <div class="actions">
    <%= submit_tag I18n.t("tog_conclave.admin.update"), {:accesskey => "s", :class=>"button mainaction"} %>
  </div>

<% end -%>