.calendar {
	width: 100%;
}

.calendar th{
	text-align: center;
}

.calendar td{
	text-align: center;
}

.calendar .days{
	color: gray;
}

.calendar .with_events a{
	color: red;
  font-weight: bold;	
}

.calendar .current_month{
  font-weight: bold;	
}

.calendar .other_month{
	color: gray;
}