<li class="clearfix">
    <div class="image left"><%= image_tag event.icon.url :small %></div>
    <%= link_to event.title, conclave_event_path(event), :title => event.title %>
    <br/> 
    <%= write_event_date(event) %>
</li>